
<div class="curved-div mt-5">
  

    <form [formGroup]="editForm" class="w-100 container formStyle">
    
        <div class="row" style="text-align: center;">

            <h2 style="padding: 10px;" class="txtDesign" >
              Edit password
          </h2>
        </div>
 
        <div *ngFor="let item of PasswordInputNameValidation" class="row">
    
            <app-input-password
            [FormOfInput]=editForm
            [name]=item.name
            [maxLength]=item.maxLength
            [minLength]=item.minLength
            [IsRequired]=item.IsRequired
            
            [clickedBefore]="clicked"
            >
               
                
            </app-input-password>
        </div>

        <div class="row" style="text-align: center;" *ngIf="passwordMatch==false">

          <h2 style="padding: 10px;" class="txtDesign text-danger" >
            Password and confirmation password don't match
        </h2>
      </div>
    <div class="my-3 p-3" style="text-align: center;">
    
      <input type="button" (click)="submitForm()" class="btn btn-outline-primary" value="Register" style="border-radius: 20px;">
    </div>
    
    </form>
    
    
    
    
    
    
    
    
    
    