<div class="curved-div mt-5">
  <h2>Edit Password</h2>
  <hr />
  <svg viewBox="0 0 1440 500">
    <path
      fill="#506a91"
      fill-opacity="1"
      d="M 0 0 L 1666.87 -3.605 L 378.019 383.162 C 351.073 390.61 81.358 508.952 1.004 327.428 Z"
    ></path>
  </svg>
  <img
    class="firstChar"
    src="assets/images/6.svg"
    width="100px"
    height="100px"
  />
  <img
    class="SecondChar"
    src="assets/images/7.svg"
    width="100px"
    height="100px"
  />
</div>

<form [formGroup]="editForm" class="w-100 container formStyle">
  <div class="row" style="text-align: center">
    <h2 style="padding: 10px" class="txtDesign">Edit password</h2>
  </div>

  <div *ngFor="let item of PasswordInputNameValidation" class="row">
    <app-input-password
      [FormOfInput]="editForm"
      [name]="item.name"
      [maxLength]="item.maxLength"
      [minLength]="item.minLength"
      [IsRequired]="item.IsRequired"
      [clickedBefore]="clicked"
    >
    </app-input-password>
  </div>

  <div class="row" style="text-align: center" *ngIf="passwordMatch == false">
    <h2 style="padding: 10px" class="txtDesign text-danger">
      Password and confirmation password don't match
    </h2>
  </div>
  <div class="my-3 d-flex justify-content-center" style="text-align: center; padding: 20px;">
    <input
      type="button"
      (click)="submitForm()"
      class="btn btn-outline-primary"
      value="Confirm"
      style="border-radius: 20px"
    />
  </div>
</form>
