<div class="curved-div mt-5">
  <form [formGroup]="loginForm" class="w-100 container formStyle">

    <div class="row" style="text-align: center;" *ngIf="redirectedFromNotAuthorized==true">

      <span style="padding: 10px;" class="txtDesign text-danger" >
        You should log in first
      </span>
    </div>


    <div *ngFor="let item of StringInputNameValidation" class="row"> 

        
        <app-form-input-string 
        [FormOfInput]=loginForm
        [name]=item.name
        [maxLength]=item.maxLength
        [minLength]=item.minLength
        [IsRequired]=item.IsRequired
    
        ></app-form-input-string>  
    </div>

    
    
      <app-input-password
      [FormOfInput]=loginForm
      name=Password
      [maxLength]=25
      [minLength]=5
      [IsRequired]=true
      
      [clickedBefore]="clicked"
      >
         
          
      </app-input-password>




    <div class="row">
      <app-input-select
            name="Are you ..?"
            [options]=UserTypeOptions
            [FormOfInput]=loginForm
            controllerName=UserType
      >
  
      </app-input-select>
  </div>

  
<div class="row" style="text-align: center;" *ngIf="invalidLoginData==true">

  <span style="padding: 10px;" class="txtDesign text-danger" >
    Username or password is invalid
  </span>
</div>
  

    <div class="my-3">

      <input  type="button" (click)="submitForm()" class="btn btn-outline-primary" value="Login" style="border-radius: 20px;">
    </div>
    


</form>

  <svg viewBox="0 0 1440 500">
    <path
      fill="#506a91"
      fill-opacity="1"
      d="M 0 0 L 1666.87 -3.605 L 378.019 383.162 C 351.073 390.61 81.358 508.952 1.004 327.428 Z"
    ></path>
  </svg>
  
</div>




<!-- <form [formGroup]="registerForm">


    <div *ngFor="let item of StringInputNameValidation">

        
        <app-form-input-string 
        [FormOfInput]=registerForm
        [name]=item.name
        [maxLength]=item.maxLength
        [minLength]=item.minLength
        [IsRequired]=item.IsRequired
    
        ></app-form-input-string>  
    </div>
  


  <input type="button" (click)="submitForm()">

</form>
 -->















<!-- <form
            class="form"
            method="post"
         
        
            #registerUser
          >
            <div class="form-group">
              <input
                class="input form-control"
                type="text"
                name="name"
                autocomplete="off"
                placeholder="User Name"
                #username
                id="username"
                formControlName="username"
              /><br />
              <div class="text-danger" *ngIf="userNameExists">
                Username already exists. choose another one
              </div>
              <div name="validations" *ngIf="registerForm.invalid">
                <span
                  class="text-danger"
                  *ngIf="
                    firstClick &&
                    registerForm.controls.username.errors?.required
                  "
                  >Username is required</span
                >
                <span
                  class="text-danger"
                  *ngIf="registerForm.controls.username.errors?.maxlength"
                  >username characters exceeded maximum length of 20</span
                >
                <span
                  class="text-danger"
                  *ngIf="registerForm.controls.username.errors?.minlength"
                  >username characters are less than 5 characters</span
                >
              </div>
            </div>
            span class="login_error" id="name_error"></span -->

