<form [formGroup]="registerForm">


    <div *ngFor="let item of StringInputNameValidation">

        
        <app-form-input-string 
        [FormOfInput]=registerForm
        [name]=item.name
        [maxLength]=item.maxLength
        [minLength]=item.minLength
        [IsRequired]=item.IsRequired
    
        ></app-form-input-string>  
    </div>
  
    <div *ngFor="let item of NumerInputNameValidation">

        
      <app-form-input-number 
      [FormOfInput]=registerForm
      [name]=item.name
      [max]=item.max
      [min]=item.min
      [IsRequired]=item.IsRequired
  
      ></app-form-input-number>  
  </div>

  <div>
    <app-email-input 
      [FormOfInput]=registerForm
      name="Email"
    > 
    </app-email-input>
  
    <app-phone-input
      [FormOfInput]=registerForm
      name="Phone"
    >
      
    </app-phone-input>
  </div>

  <div *ngIf="departmentsOptions!=null">
      <app-input-select
            name="Department"
            [options]=departmentsOptions
            [FormOfInput]=registerForm
            controllerName=depertId
      >

      </app-input-select>
  </div>


  <div >
    <app-input-select
          name="UserType"
          [options]=UserTypeOptions
          [FormOfInput]=registerForm
          controllerName=UserType
    >

    </app-input-select>
</div>

  <input type="button" (click)="submitForm()">

</form>
















<!-- <form
            class="form"
            method="post"
         
        
            #registerUser
          >
            <div class="form-group">
              <input
                class="input form-control"
                type="text"
                name="name"
                autocomplete="off"
                placeholder="User Name"
                #username
                id="username"
                formControlName="username"
              /><br />
              <div class="text-danger" *ngIf="userNameExists">
                Username already exists. choose another one
              </div>
              <div name="validations" *ngIf="registerForm.invalid">
                <span
                  class="text-danger"
                  *ngIf="
                    firstClick &&
                    registerForm.controls.username.errors?.required
                  "
                  >Username is required</span
                >
                <span
                  class="text-danger"
                  *ngIf="registerForm.controls.username.errors?.maxlength"
                  >username characters exceeded maximum length of 20</span
                >
                <span
                  class="text-danger"
                  *ngIf="registerForm.controls.username.errors?.minlength"
                  >username characters are less than 5 characters</span
                >
              </div>
            </div>
            span class="login_error" id="name_error"></span -->

