<div class="curved-div mt-5">
  <h2>Add New Project</h2>
  <svg viewBox="0 0 1440 500">
    <path
      fill="#506a91"
      fill-opacity="1"
      d="M 0 0 L 1666.87 -3.605 L 378.019 383.162 C 351.073 390.61 81.358 508.952 1.004 327.428 Z"
    ></path>
  </svg>
  <img
    class="firstChar"
    src="assets/images/6.svg"
    width="100px"
    height="100px"
  />
  <img
    class="SecondChar"
    src="assets/images/7.svg"
    width="100px"
    height="100px"
  />
</div>

<div class="fullscreen-bg">
  <video loop muted autoplay class="fullscreen-bg__video">
    <source src="assets/images/8.mp4" type="video/webm" />
  </video>
</div>

<div class="limiter">
  <div class="container-login100" style="background: transparent">
    <div class="wrap-login100">
      <div class="login100-pic js-tilt" data-tilt>
        <img src="assets/images/10.png" />
      </div>
      <form
        class="login100-form validate-form"
        [formGroup]="projectForm"
        (ngSubmit)="submitForm()"
      >
        <span class="login100-form-title">Add project</span>
        <div
          class="wrap-input100 form-group"                   
        >
          <input
            class="input100 form-control"
            formControlName="Name"
            type="text"
            name="Name"
            placeholder="Project name"
            required
            minlength="4"
          />
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <img src="assets/images/11.svg" width="20px" />
          </span>
        </div>

        <div
        *ngIf="
          projectForm.controls.Name.invalid &&
          (projectForm.controls.Name.dirty ||
            projectForm.controls.Name.touched)
        "
        class="alert alert-danger my-2"
      >
        <div *ngIf="projectForm.controls.Name.errors?.required">
          Name is required.
        </div>
        <div *ngIf="projectForm.controls.Name.errors?.minlength">
          Name must be at least 4 characters long.
        </div>       
      </div>
       

        <div
          class="wrap-input100 validate-input"          
        >
          <textarea
            class="input100 form-control"
            formControlName="Description"
            type="text"
            name="Description"
            placeholder="Project description"
          ></textarea>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <img src="assets/images/12.svg" width="20px" />
          </span>
        </div>

        <div
        *ngIf="
          projectForm.controls.Description.invalid &&
          (projectForm.controls.Description.dirty ||
            projectForm.controls.Description.touched)
        "
        class="alert alert-danger my-2"
      >
        <div *ngIf="projectForm.controls.Description.errors?.required">
          Description is required.
        </div>
        <div *ngIf="projectForm.controls.Description.errors?.minlength">
          Description must be at least 30 characters long.
        </div>       
      </div>

        <div class="wrap-input100" data-validate="Valid name is required">
          <input
            class="input100 form-control"
            formControlName="CodeUrl"
            type="text"
            name="CodeUrl"
            placeholder="Project Code Url"
          />
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <img src="assets/images/13.svg" width="20px" />
          </span>
        </div>

        <div class="wrap-input100" data-validate="Valid usernameis required">
          <input
            class="input100 form-control"
            formControlName="GitUserName"
            type="text"
            name="GitUserName"
            placeholder="Git username"
          />
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <img src="assets/images/13.svg" width="20px" />
          </span>
        </div>

        <div
          class="wrap-input100"
          data-validate="Valid repository name is required"
        >
          <input
            class="input100 form-control"
            formControlName="RepoName"
            type="text"
            name="RepoName"
            placeholder="Project repository name "
          />
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <img src="assets/images/13.svg" width="20px" />
          </span>
        </div>

        <div
          class="wrap-input100"
          data-validate="Valid youtube video url is required"
        >
          <input
            class="input100 form-control"
            formControlName="YoutDubeUrl"
            type="text"
            name="YoutDubeUrl"
            placeholder="Project youtube video url"
          />
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <img src="assets/images/14.svg" width="20px" />
          </span>
        </div>

        <div class="wrap-input100">
          <input
            type="checkbox"
            class=""
            formControlName="CodeView"
            id="CodeView"
            name="CodeView"
            value="true"
          />
          <label class="ms-1" for="CodeView">Show the code</label>
        </div>
        <div class="container-login100-form-btn">
          <button class="login100-form-btn">Create project</button>
        </div>
      </form>
    </div>
  </div>
</div>
