<!------------------- Card for Projects ----------->
<!-- <div class="row row-cols-1 row-cols-md-3 g-4"> -->
<div class="mycard">
    <div class="card h-100" *ngFor="let P of Projects">
        <h5 class="card-title">{{P.name}}</h5>

        <div class="card-body">
            <img src="assets\images\projectPhotoIcon.png" class="card-img-top" alt="...">
            <button type="button"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
             (click)="projectDetails(P.id)">View more</button>

        </div>
    </div>
</div>
<!-- </div> -->
<!-- --------------Modal for details of Project------------>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Id: {{projectId}}</h6>
                <h6>Name: {{projectName}}</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>