<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent static-top">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <!-- secret for admin -->
      <a
        *ngIf="!loggedIn"
        class="nav-link"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="admin/login"
      >
        <i
          class="fa fa-id-badge"
          aria-hidden="true"
          style="color: white; font-size: 50px"
        ></i>
      </a>
      <img class="me-3" src="assets/images/logo.svg" style="width: 50px" />
      <!-- secret for admin -->
      <h4 class="me-auto" *ngIf="loggedIn" style="color: white">
        <b>Welcome </b>&nbsp;
        <span *ngIf="userDetials">{{ firstName }}</span>
      </h4>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item mr-3" style="margin-right: 20px">
          <div
            ngbDropdown
            class="d-inline-block"
            *ngIf="loggedIn"
            style="color: black"
          >
            <button
              class="btn btn-primary"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              User Options
            </button>
            <div
              ngbDropdownMenu
              aria-labelledby="dropdownBasic1"
              style="background-color: white"
            >
              <a
                style="color: rgb(80, 106, 145)"
                ngbDropdownItem
                class="nav-link mr-3"
                routerLink="/user/edit"
                >Edit User</a
              >
              <a
                style="color: rgb(80, 106, 145)"
                ngbDropdownItem
                class="nav-link mr-3"
                routerLink="/user/password"
                >Change password</a
              >

              <a
                style="color: rgb(80, 106, 145)"
                ngbDropdownItem
                class="nav-link mr-3"
                routerLink="/user/deactivate"
                >Deactive account</a
              >
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink=""
          >
            Home
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/about"
          >
            About us
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/projects"
          >
            Projects
          </a>
        </li>

        <li class="nav-item" *ngIf="loggedIn">
          <a
            class="nav-link"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="projects/add"
          >
            Add Project
          </a>
        </li>

        <li class="nav-item" *ngIf="!loggedIn">
          <a
            class="nav-link"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="user/register"
          >
            Sign up
          </a>
        </li>
        <li class="nav-item" *ngIf="!loggedIn">
          <a
            class="nav-link"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="user/login"
          >
            Sign in
          </a>
          <li class="nav-item" *ngIf="loggedIn">
            <a
              class="nav-link bg-danger"
             (click)="logout()"
             style="border-radius: 30px; color: white !important; opacity: 100 !important;"             
            >
              Sign out
            </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
