<form [formGroup]="registerForm" class="w-100 container formStyle">

  <h2 class="txtDesign d-flex justify-content-center">
    Edit my details
</h2>


    <div *ngFor="let item of StringInputNameValidation" class="row">

        <span class="txtDesign" style="font-weight: lighter;">{{item.name}}</span>
        <app-form-input-string 
        [FormOfInput]=registerForm
        [name]=item.name
        [maxLength]=item.maxLength
        [minLength]=item.minLength
        [IsRequired]=item.IsRequired
    
        ></app-form-input-string>  
    </div>
  
    <div *ngFor="let item of NumerInputNameValidation" class="row">

      <span class="txtDesign" style="font-weight: lighter;">{{item.name}}</span>
        
      <app-form-input-number 
      [FormOfInput]=registerForm
      [name]=item.name
      [max]=item.max
      [min]=item.min
      [IsRequired]=item.IsRequired
  
      ></app-form-input-number>  
  </div>

  <div class="row">
    <span class="txtDesign" style="font-weight: lighter;">Email</span>

    <app-email-input 
      [FormOfInput]=registerForm
      name="Email"
    > 
    </app-email-input>
  </div>

  <div>
    <span class="txtDesign" style="font-weight: lighter;">Phone</span>

    <app-phone-input class="row"
      [FormOfInput]=registerForm
      name="Phone"
    >
      
    </app-phone-input>
  </div>

  <div *ngIf="departmentsOptions!=null" class="row">


      <app-input-select
            name="Department"
            [options]=departmentsOptions
            [FormOfInput]=registerForm
            controllerName=depertId
      >

      </app-input-select>
  </div>


  <div class="my-3 d-flex justify-content-center">
  
    <input  type="button" (click)="submitForm()" class="btn btn-outline-primary" value="Confirm" style="border-radius: 20px;">
  </div>

</form>



