.formStyle {
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 6px 6px 17px rgb(108, 135, 194);
}

.curved-div {
  color: #fff;
  text-align: center;
  height: 300px;
}
.curved-div h2 {
  width: 500px;
  padding-left: 0px;
  margin-left: 50px;
  text-align: left;
}

.curved-div p {
  width: 500px;
  margin-left: 50px;
}
.curved-div hr {
  background: #d48282;
  margin-left: 50px;
  border: none;
  opacity: 1;
  height: 5px;
  width: 130px;
}
.curved-div svg {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -10;
}

.firstChar {
  position: absolute;
  width: 300px;
  right: 200px;
  top: 100px;
  transform: rotate(-20deg);
}

.SecondChar {
  position: absolute;
  right: 200px;
  top: 100px;
  transform: rotate(20deg);
}
