<div class="curved-div mt-5">
  <h1>Developing community</h1>
  <hr />
  <p>
    Explore projects ideas in your field and find a co-founder is a bite hard.
    We provide you with the platform to make that easier. Get started and find
    the missing piece of your projects.
  </p>
  <svg viewBox="0 0 1440 500">
    <path
      fill="#506a91"
      fill-opacity="1"
      d="M 0 0 L 1666.87 -3.605 L 378.019 383.162 C 351.073 390.61 81.358 508.952 1.004 327.428 Z"
    ></path>
  </svg>
  <img
    class="firstChar"
    src="assets/images/6.svg"
    width="100px"
    height="100px"
  />
  <img
    class="SecondChar"
    src="assets/images/7.svg"
    width="100px"
    height="100px"
  />
</div>

<div class="fullscreen-bg">
  <video loop muted autoplay class="fullscreen-bg__video">
    <source src="assets/images/8.mp4" type="video/webm" />
  </video>
</div>

<section id="what-we-do" class="what-we-do" style="margin-top: 100px;background: transparent;">
  <div class="container">
    <div class="section-title">
      <h2>What We Do</h2>
      <p>
        Displying ideas, connecting founders and helping you to find a financier
        <i class="fa fa-check"></i>
      </p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
          <div class="icon">
            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
          </div>
          <h4><a href="">Displying ideas</a></h4>
          <p>
            Helping you to present your ideas, tag your team and show you talent
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon">
            <i class="fa fa-search" aria-hidden="true"></i>
          </div>
          <h4><a href="">Connecting founders</a></h4>
          <p>You can find founders, co-founder and people who like your ideas</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="fa fa-money" aria-hidden="true"></i></div>
          <h4><a href="">Find financier</a></h4>
          <p>
            You can find financier and companies that will help you with your
            small project to grow bigger
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Services</h2>
      <p>We Offer a variety of services</p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="icon-box">
          <i class="fa fa-laptop" aria-hidden="true"></i>
          <h4><a href="#">Post Your Project</a></h4>
          <p>Add your project, your code, demos, photos and related files</p>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-lg-0">
        <div class="icon-box">
          <i class="fa fa-users" aria-hidden="true"></i>
          <h4><a href="#">Tag your team</a></h4>
          <p>Tag your team in the project and specify everyone role</p>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="icon-box">
          <i class="fa fa-building" aria-hidden="true"></i>
          <h4><a href="#">Add your educational organization</a></h4>
          <p>Add organizations and make rooms and folders tree</p>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="icon-box">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          <h4><a href="#">Add organization instructor and students</a></h4>
          <p>Add instructors and students to show students work and projects</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
