<app-navbar></app-navbar>

<div class="curved-div mt-5">
  <h1>Developing community</h1>
  <hr />
  <p>
    Explore projects ideas in your field and find a co-founder is a bite hard.
    We provide you with the platform to make that easier. Get started and find
    the missing piece of your projects.
  </p>
  <svg viewBox="0 0 1440 500">
    <path
      fill="#506a91"
      fill-opacity="1"
      d="M 0 0 L 1666.87 -3.605 L 378.019 383.162 C 351.073 390.61 81.358 508.952 1.004 327.428 Z"
    ></path>
  </svg>
</div>

<app-footer></app-footer>
